<!--render flash messages-->
<div class="flash_notice">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        <%= alert %>
      </div>
    </div>
  <% end %>
</div>